.popup__field-author {
  width: 358px;
  min-height: 27px;
  margin-top: 41px;
  margin-left: 36px;
  margin-right: 36px;
  padding: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);

  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__field-author:focus {
  border-color: none;
  outline: 0;
}

@media all and (max-width: 880px) {
  .popup__field-author {
    width: 238px;
    min-height: 27px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 75px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 0;

  }
}